<div class="jumbotron" ng-controller='mainCtrl as main'>

    <div class="btn btn-default"><a href="@Url.Action("GoogleRedirect")"> OAuth2 </a></div>

    <div>User: @ViewBag.User</div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Files</a></li>
        <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="fade tab-pane in active" id="files">
            <div ng-repeat="file in main.files" class="file-card">
                <img src="{{file.Icon}}" alt="" class="img-thumbnail" />
                <div class="file-card_title">{{file.Name}}</div>
            </div>
        </div>
        <div role="tabpanel" class="fade tab-pane" id="upload">
            @Html.Partial("UploadFile")
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js");
}
